.btwb-notice {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    margin-top: 15px;
}

.btwb-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.btwb-error {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.btwb-settings-form, .btwb-widgets-settings {
    border: 1px solid #ccc;
    padding-left: 15px;
    padding-bottom: 15px;
    margin-top: 10px;
}

.btwb-textarea{
    padding: 10px 10px 1px !important;
    resize: none;
}

.btwb-not-visible{
    display: none;
}

#btwb_scopes{
    margin-left: 28px;
}

.btwb-radio{
    margin-bottom: 5px;
    display: list-item;
    list-style-type: none;
}

.btwb-red-notice{
    color: #a94442;
    font-weight: bold;
}
.btwb-margin-top-10{
  margin-top: 10px;
}
.widgets-form hr{
  border-color: #CCCCCC;
}

.btwb-margin-top-25{
  margin-top: 25px !important;
}

.widgets-form th{
  padding-top: 5px !important;
}

.widgets-form td{
  padding-top: 0px !important;
}

.widgets-form select{
  width: 100px;
}


